In [1]:
!ls sampled_data

active_wiretap_sampled.csv  ssdp_flood_sampled.csv
arp_mitm_sampled.csv	    ssl_renegotiation_sampled.csv
fuzzing_sampled.csv	    syn_dos_sampled.csv
mirai_botnet_sampled.csv    video_injection_sampled.csv
os_scan_sampled.csv

In [2]:
import pandas as pd
import numpy as np

# Load data and display

In [3]:
# Load sampled datasets
df1 = pd.read_csv('sampled_data/active_wiretap_sampled.csv')
df2 = pd.read_csv('sampled_data/arp_mitm_sampled.csv')
df3 = pd.read_csv('sampled_data/fuzzing_sampled.csv')
df4 = pd.read_csv('sampled_data/mirai_botnet_sampled.csv')
df5 = pd.read_csv('sampled_data/os_scan_sampled.csv')
df6 = pd.read_csv('sampled_data/ssdp_flood_sampled.csv')
df7 = pd.read_csv('sampled_data/ssl_renegotiation_sampled.csv')
df8 = pd.read_csv('sampled_data/syn_dos_sampled.csv')
df9 = pd.read_csv('sampled_data/video_injection_sampled.csv')

In [4]:
df1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,365.557527,1335.757057,182800.750816,621.329382,1335.056746,184897.736676,1929.143451,1339.442472,182189.972772,19594.846200,...,0.0,0.0,21701.798045,1341.313287,425.609255,1341.313287,181143.237622,0.0,0.0,0
1,383.630242,1338.051100,185263.016689,643.508749,1343.111554,179394.175863,1953.630364,1344.719713,176069.204781,19633.267292,...,0.0,0.0,22963.287017,1341.376388,425.313054,1341.376388,180891.194210,0.0,0.0,0

In [5]:
df2.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,195.028778,1318.104735,139135.725379,301.644924,1306.947285,142244.589591,866.931042,1297.374959,142987.942058,8704.439421,...,0.0,0.0,26990.471920,1335.468984,425.91399,1335.468984,181402.726729,0.0,0.0,0
1,472.843421,1340.811508,187636.660924,738.093117,1339.464648,186224.711567,2047.578522,1338.602361,184318.518072,19753.721697,...,0.0,0.0,26134.265506,1340.516434,426.15430,1340.516434,181607.487704,0.0,0.0,0

In [6]:
df3.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,175.605491,1293.469508,153806.018819,293.077632,1296.975386,146672.442144,879.364490,1299.838601,139206.503872,8717.824624,...,-1.295834e-12,-9.099457e-10,30768.159846,1230.436867,229.473519,1231.898893,52658.096044,2.841218e-11,1.968463e-08,0
1,206.706834,1354.421646,170629.722116,321.493528,1347.249352,177277.304130,883.379883,1340.639253,182512.302226,8471.437584,...,0.000000e+00,0.000000e+00,26369.889892,1340.401717,426.231457,1340.401717,181673.254620,0.000000e+00,0.000000e+00,0

In [7]:
df4.head(2)

,1,2,3,4,5,6,7,8,9,10,...,107,108,109,110,111,112,113,114,115,x
0,1.216835,74.0,5.456968e-11,1.914573,74.000001,0.000007,5.198310,74.108560,0.948659,81.922101,...,0.0,0.0,1.993131,74.0,9.536743e-07,74.0,9.094947e-13,0.0,0.0,0
1,6.198251,82.0,2.735305e-08,7.621889,81.999992,0.000060,10.561213,81.980951,0.152058,49.594742,...,0.0,0.0,57.294241,82.0,1.651812e-06,82.0,2.728484e-12,0.0,0.0,0

In [8]:
df5.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,46.654929,1307.793316,201308.054513,82.474827,1322.311123,189559.485824,268.640251,1338.627970,176403.995289,2790.166031,...,0.000000e+00,0.000000e+00,28007.294101,1342.519532,416.997748,1342.519532,173887.121567,0.000000e+00,0.000000e+00,0
1,59.402274,1251.093185,34099.319604,97.680095,1246.801110,36186.706025,299.117414,1241.988389,39252.164683,3046.674433,...,-6.543934e-12,-7.489206e-09,15405.652627,1239.405203,204.307084,1240.856662,41741.384400,1.209589e-11,1.602908e-08,0

In [9]:
df6.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,86.354294,728.292722,406135.739889,157.316868,731.91407,410790.785373,525.750992,733.166204,415758.503679,5538.971214,...,0.0,0.0,16536.728166,212.929089,292.418601,212.929089,85508.637977,0.0,0.0,0
1,36.185973,686.688681,385597.257208,64.535445,694.32366,390776.140734,204.842001,700.846611,394899.304618,2077.470254,...,0.0,0.0,12636.194407,208.403251,225.343848,208.403251,50779.849923,0.0,0.0,0

In [10]:
df7.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,70.527824,738.098827,436203.969321,128.379495,741.968177,437116.805783,461.071194,742.327680,438902.105431,5087.158896,...,0.0,0.0,22164.828940,1450.000000,0.000143,1450.000000,2.048910e-08,0.0,0.0,0
1,125.779737,743.964416,442781.634653,184.501166,742.005878,440917.117656,518.137315,739.919977,440569.654106,5077.140161,...,0.0,0.0,26595.756744,154.238935,203.575853,154.238935,4.144313e+04,0.0,0.0,0

In [11]:
df8.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,37.979172,60.000000,2.273737e-12,52.017921,60.000000,1.273293e-11,127.370762,60.000028,0.002239,1163.993945,...,1.061383e-12,1.115943e-09,11092.555739,60.000000,0.000004,1402.197947,45042.840697,2.652072e-11,2.825876e-08,0
1,42.411428,1371.978497,8.501703e+04,77.952298,1384.383944,7.170555e+04,259.654731,1390.142548,64921.168419,2703.286857,...,-1.636581e-11,-1.492831e-08,26324.789778,1399.167724,217.644561,1400.453612,47369.154822,1.078432e-12,5.882982e-10,0

In [12]:
df9.head(2)

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,x
0,123.121776,1360.001872,157553.220028,206.069142,1359.007741,159714.355281,595.046805,1346.030478,175022.067217,5683.213881,...,0.0,0.0,28146.400879,1337.860878,428.720957,1337.860878,183801.658661,0.0,0.0,0
1,121.536085,1343.381069,174292.173043,202.294014,1345.677148,171712.011527,589.644663,1344.904592,172462.329395,5669.750688,...,0.0,0.0,28016.268593,1343.723166,420.881506,1343.723166,177141.242135,0.0,0.0,0

# Merge files into one

In [13]:
# mirai has indecies 1-115
# others have 0-114

column_names = ['feature_'+str(i) for i in range(0,116)]
column_names[-1] = 'x'

df1.columns = column_names
df2.columns = column_names
df3.columns = column_names
df4.columns = column_names
df5.columns = column_names
df6.columns = column_names
df7.columns = column_names
df8.columns = column_names
df9.columns = column_names

df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], axis=0)
print(f'dataset shape: {df.shape}')
df.head()

dataset shape: (126000, 116)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
0,365.557527,1335.757057,182800.750816,621.329382,1335.056746,184897.736676,1929.143451,1339.442472,182189.972772,19594.846200,...,0.000000,0.000000,21701.798045,1341.313287,425.609255,1341.313287,181143.237622,0.000000,0.000000,0
1,383.630242,1338.051100,185263.016689,643.508749,1343.111554,179394.175863,1953.630364,1344.719713,176069.204781,19633.267292,...,0.000000,0.000000,22963.287017,1341.376388,425.313054,1341.376388,180891.194210,0.000000,0.000000,0
2,161.171251,1289.108527,148890.944034,272.817589,1291.789855,145610.524769,850.608208,1295.862676,141072.680486,8698.360527,...,0.000001,0.000003,25333.628562,1228.267621,235.430296,1229.732699,55427.424500,0.147639,0.000485,1
3,165.591681,1287.269215,145583.630014,274.950726,1286.338594,148125.083665,846.251248,1289.109749,147033.406716,8704.393559,...,0.000810,0.000110,20723.730033,1227.319510,238.450080,1228.786133,56858.440901,0.822104,0.001935,0
4,234.994309,1314.244602,128445.734620,346.191343,1306.450249,132996.334678,922.300793,1299.199175,137920.137637,8768.091350,...,0.000000,0.000000,26989.384104,1335.300024,426.099863,1336.647356,181561.093502,0.000000,0.000000,1

# Preprocessing

In [14]:
df.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
count,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,...,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,1.260000e+05,126000.000000,126000.000000,126000.000000
mean,579.753530,892.290823,149028.168397,952.755606,893.144070,148652.765054,2767.240355,894.674313,148629.280347,21812.787151,...,-19.303799,-0.002187,18565.104336,897.323836,227.533338,953.482229,8.822465e+04,-25.936034,-0.004664,0.500000
std,1648.899848,548.848938,142105.487949,2734.290417,548.777700,141487.162092,8043.216757,548.156746,140841.685147,64466.862138,...,569.094849,0.035470,11363.165667,602.095957,185.381475,577.934258,8.012887e+04,600.219183,0.044044,0.500002
min,1.000000,42.000007,0.000000,1.000000,42.006778,0.000000,1.000000,48.220009,0.000000,1.000000,...,-44545.426052,-1.167781,1.000000,42.000000,0.000000,52.000000,0.000000e+00,-42548.911149,-1.191369,0.000000
25%,57.640777,136.000000,94.126649,93.981848,136.000000,133.499835,277.591418,136.000000,266.094250,2715.736996,...,0.000000,0.000000,8345.855078,136.000000,0.000007,153.962393,7.450581e-09,0.000000,0.000000,0.000000
50%,120.476647,1286.096397,152649.028147,187.639720,1291.496271,152244.399394,547.713207,1295.193317,147809.035025,5152.072190,...,0.000000,0.000000,24590.144489,1336.928878,219.050626,1338.365350,5.237084e+04,0.000000,0.000000,0.500000
75%,232.552332,1338.171224,197009.215937,359.955708,1339.140962,192679.913312,1078.092495,1339.516487,187318.584326,8792.648917,...,0.000000,0.000000,27955.375476,1341.313680,425.210914,1341.509065,1.808045e+05,0.000000,0.000000,1.000000
max,7454.109134,1510.242611,466258.991995,12411.214631,1506.179502,468641.217348,37171.698885,1506.222864,472556.825730,354078.265084,...,22223.468544,0.993154,44773.642024,1514.000000,634.593807,1514.000000,4.027796e+05,24493.911666,1.006464,1.000000

### Handle missing data

In [15]:
#check null values
df_null = df[df.isna().any(axis=1)]
df_null

Empty DataFrame
Columns: [feature_0, feature_1, feature_2, feature_3, feature_4, feature_5, feature_6, feature_7, feature_8, feature_9, feature_10, feature_11, feature_12, feature_13, feature_14, feature_15, feature_16, feature_17, feature_18, feature_19, feature_20, feature_21, feature_22, feature_23, feature_24, feature_25, feature_26, feature_27, feature_28, feature_29, feature_30, feature_31, feature_32, feature_33, feature_34, feature_35, feature_36, feature_37, feature_38, feature_39, feature_40, feature_41, feature_42, feature_43, feature_44, feature_45, feature_46, feature_47, feature_48, feature_49, feature_50, feature_51, feature_52, feature_53, feature_54, feature_55, feature_56, feature_57, feature_58, feature_59, feature_60, feature_61, feature_62, feature_63, feature_64, feature_65, feature_66, feature_67, feature_68, feature_69, feature_70, feature_71, feature_72, feature_73, feature_74, feature_75, feature_76, feature_77, feature_78, feature_79, feature_80, feature_81, feature_82, feature_83, feature_84, feature_85, feature_86, feature_87, feature_88, feature_89, feature_90, feature_91, feature_92, feature_93, feature_94, feature_95, feature_96, feature_97, feature_98, feature_99, ...]
Index: []

[0 rows x 116 columns]

### Handle outliers

In [16]:
from scipy import stats

z_scores = np.abs(stats.zscore(df, nan_policy='omit'))
z_scores.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
0,0.129903,0.807996,0.237659,0.121212,0.805270,0.256172,0.104200,0.811392,0.238288,0.034404,...,0.033920,0.061652,0.276042,0.737409,1.068482,0.671067,1.159619,0.043211,0.105894,1.0
1,0.118942,0.812176,0.254987,0.113100,0.819948,0.217274,0.101155,0.821019,0.194829,0.033809,...,0.033920,0.061652,0.387058,0.737514,1.066884,0.671176,1.156473,0.043211,0.105894,1.0
2,0.253856,0.723003,0.000966,0.248672,0.726428,0.021502,0.238293,0.731889,0.053653,0.203430,...,0.033920,0.061737,0.595657,0.549655,0.042599,0.477998,0.409308,0.043457,0.116905,1.0
3,0.251176,0.719651,0.024239,0.247892,0.716494,0.003730,0.238834,0.719570,0.011331,0.203336,...,0.033922,0.064761,0.189968,0.548080,0.058888,0.476360,0.391449,0.044581,0.149827,1.0
4,0.209085,0.768801,0.144840,0.221837,0.753143,0.110657,0.229379,0.737976,0.076037,0.202348,...,0.033920,0.061652,0.741370,0.727422,1.071128,0.662993,1.164834,0.043211,0.105894,1.0

In [17]:
outliers_threshold = 3
mask = (z_scores <= outliers_threshold).all(axis=1)
print(f" No. of outlier rows = {len(mask[mask == False])} from (total) {df.shape[0]} rows")

 No. of outlier rows = 15056 from (total) 126000 rows

In [18]:
df_zscored = df[mask]
print(f'dataset shape after droping outliers: {df_zscored.shape}')
df_zscored.head()

dataset shape after droping outliers: (110944, 116)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
0,365.557527,1335.757057,182800.750816,621.329382,1335.056746,184897.736676,1929.143451,1339.442472,182189.972772,19594.846200,...,0.000000,0.000000,21701.798045,1341.313287,425.609255,1341.313287,181143.237622,0.000000,0.000000,0
1,383.630242,1338.051100,185263.016689,643.508749,1343.111554,179394.175863,1953.630364,1344.719713,176069.204781,19633.267292,...,0.000000,0.000000,22963.287017,1341.376388,425.313054,1341.376388,180891.194210,0.000000,0.000000,0
2,161.171251,1289.108527,148890.944034,272.817589,1291.789855,145610.524769,850.608208,1295.862676,141072.680486,8698.360527,...,0.000001,0.000003,25333.628562,1228.267621,235.430296,1229.732699,55427.424500,0.147639,0.000485,1
3,165.591681,1287.269215,145583.630014,274.950726,1286.338594,148125.083665,846.251248,1289.109749,147033.406716,8704.393559,...,0.000810,0.000110,20723.730033,1227.319510,238.450080,1228.786133,56858.440901,0.822104,0.001935,0
4,234.994309,1314.244602,128445.734620,346.191343,1306.450249,132996.334678,922.300793,1299.199175,137920.137637,8768.091350,...,0.000000,0.000000,26989.384104,1335.300024,426.099863,1336.647356,181561.093502,0.000000,0.000000,1

In [19]:
# Save
df_zscored.to_csv('processed_dataset.csv', index=False)

### Standardization
Because tree-based classification algorithms will be used, it is not needed to perform feature scaling.
However here is the example (in case we will need one later)

In [20]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df_scaled = MinMaxScaler().fit_transform(df)
df_scaled = pd.DataFrame(df_scaled, columns = list(df))
df_scaled.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
count,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,126000.000000,...,126000.000000,126000.000000,126000.000000,126000.000000,1.260000e+05,126000.000000,1.260000e+05,126000.000000,126000.000000,126000.000000
mean,0.077653,0.579121,0.319625,0.076691,0.581309,0.317200,0.074420,0.580557,0.314521,0.061602,...,0.666869,0.539393,0.414631,0.581062,3.585496e-01,0.616609,2.190395e-01,0.634266,0.539943,0.500000
std,0.221237,0.373814,0.304778,0.220326,0.374804,0.301909,0.216386,0.375964,0.298042,0.182070,...,0.008523,0.016414,0.253797,0.409033,2.921262e-01,0.395304,1.989398e-01,0.008953,0.020040,0.500002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,0.007600,0.064022,0.000202,0.007492,0.064195,0.000285,0.007441,0.060206,0.000563,0.007667,...,0.667158,0.540405,0.186383,0.063859,1.178533e-08,0.069742,1.849791e-14,0.634653,0.542065,0.000000
50%,0.016030,0.847337,0.327391,0.015039,0.853376,0.324863,0.014708,0.855261,0.312786,0.014548,...,0.667158,0.540405,0.549200,0.879707,3.451824e-01,0.879867,1.300236e-01,0.634653,0.542065,0.500000
75%,0.031068,0.882805,0.422532,0.028924,0.885916,0.411146,0.028977,0.885661,0.396394,0.024830,...,0.667158,0.540405,0.624363,0.882686,6.700521e-01,0.882017,4.488918e-01,0.634653,0.542065,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000

In [21]:
df_std = StandardScaler().fit_transform(df_scaled)
df_std = pd.DataFrame(df_std, columns = list(df_scaled))
df_std.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
count,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,...,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,1.260000e+05,126000.000000
mean,7.579123e-17,-4.330927e-17,4.691838e-17,7.127984e-17,-1.732371e-16,4.150472e-17,4.782065e-17,-2.237646e-16,1.479733e-16,-1.263187e-17,...,-7.326485e-15,-9.262770e-15,5.052748e-17,-2.165464e-17,-1.154914e-16,-6.676846e-17,8.661854e-17,2.372987e-16,-5.699681e-15,0.000000
std,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,...,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004
min,-3.509951e-01,-1.549232e+00,-1.048719e+00,-3.480828e-01,-1.550975e+00,-1.050649e+00,-3.439235e-01,-1.544189e+00,-1.055297e+00,-3.383424e-01,...,-7.824056e+01,-3.286193e+01,-1.633715e+00,-1.420583e+00,-1.227384e+00,-1.559841e+00,-1.101039e+00,-7.084603e+01,-2.694346e+01,-1.000000
25%,-3.166444e-01,-1.377964e+00,-1.048057e+00,-3.140768e-01,-1.379697e+00,-1.049706e+00,-3.095352e-01,-1.384052e+00,-1.053408e+00,-2.962317e-01,...,3.392031e-02,6.165162e-02,-8.993348e-01,-1.264461e+00,-1.227384e+00,-1.383415e+00,-1.101039e+00,4.321111e-02,1.058935e-01,-1.000000
50%,-2.785364e-01,7.175146e-01,2.548018e-02,-2.798236e-01,7.258928e-01,2.538498e-02,-2.759513e-01,7.306680e-01,-5.823905e-03,-2.584395e-01,...,3.392031e-02,6.165162e-02,5.302276e-01,7.301275e-01,-4.575832e-02,6.659661e-01,-4.474535e-01,4.321111e-02,1.058935e-01,0.000000
75%,-2.105662e-01,8.123951e-01,3.376452e-01,-2.168030e-01,8.127128e-01,3.111754e-01,-2.100098e-01,8.115269e-01,2.747018e-01,-2.019672e-01,...,3.392031e-02,6.165162e-02,8.263814e-01,7.374100e-01,1.066333e+00,6.714057e-01,1.155391e+00,4.321111e-02,1.058935e-01,1.000000
max,4.169072e+00,1.125910e+00,2.232370e+00,4.190668e+00,1.117097e+00,2.261617e+00,4.277467e+00,1.115650e+00,2.299950e+00,5.154071e+00,...,3.908463e+01,2.806195e+01,2.306456e+00,1.024220e+00,2.195808e+00,9.698681e-01,3.925629e+00,4.085165e+01,2.295708e+01,1.000000

In [22]:
z_scores = np.abs(stats.zscore(df_std, nan_policy='omit'))
z_scores.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
0,0.129903,0.807996,0.237659,0.121212,0.805270,0.256172,0.104200,0.811392,0.238288,0.034404,...,0.033920,0.061652,0.276042,0.737409,1.068482,0.671067,1.159619,0.043211,0.105894,1.0
1,0.118942,0.812176,0.254987,0.113100,0.819948,0.217274,0.101155,0.821019,0.194829,0.033809,...,0.033920,0.061652,0.387058,0.737514,1.066884,0.671176,1.156473,0.043211,0.105894,1.0
2,0.253856,0.723003,0.000966,0.248672,0.726428,0.021502,0.238293,0.731889,0.053653,0.203430,...,0.033920,0.061737,0.595657,0.549655,0.042599,0.477998,0.409308,0.043457,0.116905,1.0
3,0.251176,0.719651,0.024239,0.247892,0.716494,0.003730,0.238834,0.719570,0.011331,0.203336,...,0.033922,0.064761,0.189968,0.548080,0.058888,0.476360,0.391449,0.044581,0.149827,1.0
4,0.209085,0.768801,0.144840,0.221837,0.753143,0.110657,0.229379,0.737976,0.076037,0.202348,...,0.033920,0.061652,0.741370,0.727422,1.071128,0.662993,1.164834,0.043211,0.105894,1.0

In [23]:
outliers_threshold = 3
mask = (z_scores <= outliers_threshold).all(axis=1)
print(f" No. of outlier rows = {len(mask[mask == False])} from (total) {df_std.shape[0]} rows")

 No. of outlier rows = 15056 from (total) 126000 rows

In [24]:
df_zscored = df_std[mask]
print(f'dataset shape after droping outliers: {df_zscored.shape}')
df_zscored.head()

dataset shape after droping outliers: (110944, 116)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,feature_112,feature_113,feature_114,x
0,-0.129903,0.807996,0.237659,-0.121212,0.805270,0.256172,-0.104200,0.811392,0.238288,-0.034404,...,0.033920,0.061652,0.276042,0.737409,1.068482,0.671067,1.159619,0.043211,0.105894,-1.0
1,-0.118942,0.812176,0.254987,-0.113100,0.819948,0.217274,-0.101155,0.821019,0.194829,-0.033809,...,0.033920,0.061652,0.387058,0.737514,1.066884,0.671176,1.156473,0.043211,0.105894,-1.0
2,-0.253856,0.723003,-0.000966,-0.248672,0.726428,-0.021502,-0.238293,0.731889,-0.053653,-0.203430,...,0.033920,0.061737,0.595657,0.549655,0.042599,0.477998,-0.409308,0.043457,0.116905,1.0
3,-0.251176,0.719651,-0.024239,-0.247892,0.716494,-0.003730,-0.238834,0.719570,-0.011331,-0.203336,...,0.033922,0.064761,0.189968,0.548080,0.058888,0.476360,-0.391449,0.044581,0.149827,-1.0
4,-0.209085,0.768801,-0.144840,-0.221837,0.753143,-0.110657,-0.229379,0.737976,-0.076037,-0.202348,...,0.033920,0.061652,0.741370,0.727422,1.071128,0.662993,1.164834,0.043211,0.105894,1.0

In [25]:
# Save
df_zscored.to_csv('processed_scaled_dataset.csv', index=False)